<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.royali.mainproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".InviteFriend_activity" />
        <activity android:name=".MyProfile_Activity" />
        <activity android:name=".Store_Activity" />
        <activity android:name=".Fruits_Activity" />
        <activity android:name=".Vegetables_Activity" />
        <activity android:name=".DairyProducts_Activity" />
        <activity android:name=".Meat_Activity" />
        <activity android:name=".FindStore_Activity" />
        <activity android:name=".ViewCartActivity" />
        <activity android:name=".OrderHistory_Activity" />
    </application>

</manifest>